<!-- <div class="container-fluid">
  <div class="row-fluid">

    <div class="span4">
      <h1>MUSIC</h1>
      <h3>Column 1</h3>

        <p>This is the partial for view 1.</p>
        <p>more stuff...</p>

    </div>

    <div class="span4">
      <h1>FRIENDS</h1>
      <h3>Column 2</h3>

        <p>Anothe.</p>
        <p>more stuff...</p>

    </div>

    <div class="span4">
      <h1>PORTFOLIO</h1>
      <h3>Column 3</h3>

        <p>This is the partial for view 1.</p>
        <p>more stuff...</p>

    </div>

  </div>
</div> -->
